<%= @post.errors.full_messages.to_sentence if @post.errors.any? %>
<%= form_for @post, url: post_news_path, method: :put do |f| %>
  <div class='row'>
    <div class='col-xs-1'>
      <%= f.label :title %>
    </div>
    <div class='col-xs-2'>
      <%= f.text_field :title, required: true %>
    </div>
  </div>
  <div class='row'>
    <div class='col-xs-1'>
      <%= f.label :description %>
    </div>
    <div class='col-xs-2'>
      <%= f.text_area :description, required: true %>
    </div>
  </div>
  <div class='row'>
    <div class='col-xs-1'>
      <%= f.label :relevant_until %>
    </div>
    <div class='input-group date col-xs-2' id='datetimepicker1'>
      <%= f.text_field :relevant_until, class: 'form-control', required: true %>
      <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
      </span>
    </div>
  </div>
  <%= f.submit %>
<% end %>
